button {
  color: var(--btnColor);
  background-color: var(--btnBgColor);
  font-family: "Space Mono", monospace;
  font-size: 0.938rem;
  font-weight: 700;
  line-height: 1.56rem;
  cursor: pointer;
  border: none;
  width: 11.25rem;
  height: 3.31rem;
}

button:hover {
  color: var(--btnBgColor);
  background-color: transparent;
  border: 0.25rem solid var(--btnBgColor);
}
