<div class="pageTitle">Careers <img src="" alt="3 circles"></div>
<img src="" alt="semiCirlce">
<img src="" alt="yellow arrow to the left">
<app-img-card/>
<app-button/>
<h2>Why join us?</h2>
@for(card of numCard; track card.heading){
    <app-numbered-img-card [src]="card.image.src" [alt]="card.image.alt" [heading]="card.heading" [content]="card.content" [number]="card.number"/>
}
<div class="careers">
    @for(card of noCard; track card.job){
<app-no-img-card [heading]="card.job" [content]="card.site"/>
    }
    <app-button/>
</div>