footer {
  height: 47.4rem;
  overflow: hidden;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: var(--headingColor);
  text-align: center;
  height: 20rem;
}

.scoot-today {
  color: var(--btnColor);
  margin-bottom: 3rem;
}

button {
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

button img {
  height: 3rem;
}

.appleButton {
  margin-right: 0.8rem;
}

.background-circles {
  position: absolute;
  right: -10.8rem;
  top: 9.4rem;
  height: 21.7rem;
  width: 72rem;
  opacity: 10%;
}

.bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--footer);
  height: 27.4rem;
}

.scoot {
  margin: 4rem 0 2.6rem 0;
  filter: brightness(100);
}

nav {
  margin-bottom: 5.3rem;
}

.tblt-dskt-footer {
  display: none;
}

.socialMedia img {
  margin: 0 1.5rem 0 0;
  cursor: pointer;
}

@media (min-width: 48rem) {
  footer {
    height: 24.75rem;
  }

  .top {
    align-items: center;
    height: 18.75rem;
  }

  .scoot-today {
    padding: 0 9.75rem;
  }

  .background-circles {
    right: -10.8rem;
    top: 8.75rem;
  }

  .bottom {
    flex-direction: row;
    height: 6rem;
  }

  .scoot {
    margin: 0 3.7rem 0 2.5rem;
  }

  nav {
    margin-bottom: 0;
    margin-right: 9.5rem;
  }

  .mobile-footer {
    display: none;
  }

  .tblt-dskt-footer {
    display: block;
  }
}

@media (min-width: 90rem) {
  .top {
    flex-direction: row;
    justify-content: start;
    text-align: left;
  }

  .scoot-today {
    width: 25.9rem;
    padding: 0;
    margin: 0 22.5rem 0 10.3rem;
  }

  button img {
    height: 4rem;
  }

  .appleButton {
    margin-right: 1.1rem;
  }

  .scoot {
    margin: 0 3.75rem 0 10.6rem;
  }

  nav {
    margin-right: 35.7rem;
  }

  .socialMedia img:hover {
    filter: brightness(100);
  }
}
