nav.header {
  display: flex;
  flex-direction: row;
}

nav.header a {
  margin-right: 2rem;
}

nav.footer {
  display: flex;
  flex-direction: column;
}

nav.footer a {
  margin: 1rem;
}

a {
  color: var(--paragraphColor);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--btnBgColor);
}
