<div class="page-container">
  <div class="pageTitle">
    <h1 class="fifth title">{{ about() }}</h1>
    <img
      src="assets\patterns\white-circles.svg"
      alt="3 circles"
      class="about-circles"
    />
  </div>
  <div class="bottom-container">
    <div class="digital-Era-card card">
      <app-digital-era-card />
    </div>
    <div class="better-living-card card">
      <app-better-living-card />
    </div>
    <div class="numbered-card card">
      <app-numbered-img-card [title]="numImage()" />
    </div>
    <div class="faqs-card card">
      <app-faq />
    </div>
  </div>
</div>
