<div class="flex-container">
  <div class="images">
    <img
      [src]="digitalEra.arrow.src"
      [alt]="digitalEra.arrow.alt"
      class="digital-era arrow"
    />
    <img src="assets\patterns\circle.svg" alt="alt" class="circle" />
    <img
      [src]="digitalEra.image.src"
      [alt]="digitalEra.image.alt"
      class="picture"
    />
  </div>
  <div class="text">
    <h1 class="seventh heading">{{ digitalEra.heading }}</h1>
    <p class="content">{{ digitalEra.content }}</p>
  </div>
</div>
