<div class="flex-container">
  <div class="images-reverse">
    <img
      [src]="betterLiving.arrow.src"
      [alt]="betterLiving.arrow.alt"
      class="better-living arrow"
    />
    <img src="assets\patterns\circle.svg" alt="alt" class="circle" />
    <img
      [src]="betterLiving.image.src"
      [alt]="betterLiving.image.alt"
      class="picture"
    />
  </div>
  <div class="text-reverse">
    <h1 class="seventh heading">{{ betterLiving.heading }}</h1>
    <p class="content">{{ betterLiving.content }}</p>
  </div>
</div>
