<div class="page-container">
  <div class="pageTitle">
    <h1 class="fifth title">{{ location.title }}</h1>
    <img
      src="assets\patterns\white-circles.svg"
      alt="3 circles"
      class="location-circles"
    />
  </div>
  <div class="container">
    <div class="world-map">
      @for(location of jobLocations;track location){
      <div [className]="location.toLowerCase() + ' marker'">
        <app-marker [location]="location" />
      </div>
      }
    </div>
    <div class="job-locations">
      @for(location of jobLocations;track location){
      <div class="cities">{{ location }}</div>
      }
    </div>
    <div class="card">
      <h2 class="heading seventh">{{ location.heading }}</h2>
      <p class="content">{{ location.content }}</p>
      <app-button [text]="buttonText()" />
    </div>
  </div>
</div>
