@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --btnBgColor: #fcb72c;
  --btnColor: #ffffff;
  --headingColor: #495567;
  --paragraphColor: #939caa;
  --footer: #333a44;
  --mobile-locations-activeFaq: #fff4df;
  --semicircleColor: #e5ecf4;
  --faqBgColor: #f2f5f9;
  --locationBgColor: hsl(40, 97%, 58%, 15%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* mobile */
p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: var(--paragraphColor);
}

.first {
  font-family: "Space Mono", monospace;
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: var(--headingColor);
}

.second {
  font-family: "Space Mono", monospace;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2.14px;
  color: var(--headingColor);
}

.third {
  font-family: "Space Mono", monospace;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.79px;
  color: var(--headingColor);
}

.fourth {
  font-family: "Space Mono", monospace;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.07px;
  color: var(--headingColor);
}

.fifth {
  font-family: "Space Mono", monospace;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.79px;
  color: var(--headingColor);
}

.sixth {
  font-family: "Space Mono", monospace;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.89px;
  color: var(--headingColor);
}

.seventh {
  font-family: "Space Mono", monospace;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.43px;
  color: var(--headingColor);
}

.eigth {
  font-family: "Space Mono", monospace;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.8px;
  color: var(--headingColor);
}

/* tablet & desktop */
@media (min-width: 768px) {
  .fourth {
    font-family: "Space Mono", monospace;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.79px;
    color: var(--headingColor);
  }

  .fifth {
    font-family: "Space Mono", monospace;
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: var(--headingColor);
  }

  .sixth {
    font-family: "Space Mono", monospace;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -1.07px;
    color: var(--headingColor);
  }

  .seventh {
    font-family: "Space Mono", monospace;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2.14px;
    color: var(--headingColor);
  }

  .eigth {
    font-family: "Space Mono", monospace;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -1.07px;
    color: var(--headingColor);
  }
}
