<div class="top-container">
  <h1 class="fifth home-heading">{{ home.heading }}</h1>
  <img src="assets\patterns\line.svg" alt="" class="line1" />
  <p class="home-content">{{ home.content }}</p>
  <app-button [text]="buttonText()" class="topBtn" />
  <img
    src="assets\patterns\right-arrow.svg"
    alt="yellow arrow to the right"
    class="arrow-scooter"
  />
  <img
    src="assets\patterns\white-circles.svg"
    alt="3 circles"
    class="home-circles"
  />
</div>
<div class="bottom-container">
  <div class="line"></div>
  <div class="icons">
    <app-icon-card />
  </div>
  <div class="telemetry-card card">
    <app-telemetry-card />
  </div>
  <div class="near-you-card card">
    <app-near-you-card />
  </div>
  <div class="payments-card card">
    <app-payments-card />
  </div>
</div>
