<div class="scooter-sharing">
    <app-no-img-card [heading]="noCard.heading" [content]="noCard.content"/>
    <app-button/>
    <img src="assets\patterns\right-arrow.svg" alt="yellow arrow to the right">
    <img src="assets\patterns\white-circles.svg" alt="3 circles">
</div>
@for(card of icCard; track card.heading){
    <app-icon-card [heading]="card.heading" [content]="card.content" [src]="card.image.src"/>
}
<div>
@for(card of imCard; track card.heading){
 
<app-img-card [heading]="card.heading" [content]="card.content" [src]="card.image.src" [alt]="card.image.alt" [lineSrc]="card.line.src" [lineAlt]="card.line.alt"/>
<app-button />
}
</div>
 